{% extends 'base.html' %}

{% block title %}about{% endblock title %}
{% block aboutative %}active{% endblock aboutative %}

{% block body %}
   <div class="container">
   	<div class="row">
   		<h3>About us</h3>
   		About us :-  We are bquizs, bquizs is the digital platform where we can search questions and there answers as well as many blogs, video's, photos, and many more...  bquizs is founded by Shantanu chavan, Ajay rathod and there team, bquizs start from Dec 2019, Where Shantanu comes with this idea and Ajay and other team member help to complete or full-fill this idea.  Today bquizs is Most useable Digital Platform....       We Are bquizs..!  bquiz{Explore the questions with world..}
   	</div>
   </div>
{% endblock body %}