{% extends 'base.html' %}

{% block title %}unanswer{% endblock title %}
{% block aboutative %}active{% endblock aboutative %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-5">
            {% for question in questions %}
            <div class="row no-gutters border rounded overflow-hidden
                flex-md-row mb-4
                my-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    {% comment %} <strong class="d-inline-block mb-2
                        text-primary">World</strong>
                    <h3 class="mb-0">Featured post</h3> {% endcomment %}
                    <div class="mb-1 text-muted">{{question.date}}</div>
                    <p class="card-text mb-auto"><b>{{question.title}}</b></p>
                    <div>
                        <a href="#unanswer"
                            data-toggle="collapse" role="button"
                            aria-expanded="false"
                            aria-controls="collapseExample"><i class="fa
                                fa-reply-all" style="margin-top:10px;"></i>&nbsp;Answer</a>
                    </div>
                    <div style="margin-left:100px;margin-top:-24px;">
                        <a href="#"><i class="fa fa-wifi"
                                style="margin-top:6px;"></i>&nbsp;Follow</a>
                    </div>
                </div>
                <div class="col-auto d-none d-lg-block">

                </div>
            </div>

            <form action="{% url 'unanswer' question.sno  %}" method = "POST" enctype = "multipart/form-data">
            {% csrf_token %}
                        {% comment %} <input type="hidden" name="question" value="{{question.sno}}"> {% endcomment %}
                <div class="collapse" id="unanswer">
                    <div class="card card-body" style="margin-top:-24px;">
                        <textarea name="answer" id="answer" cols="30" rows="10"></textarea>
                        <div>
                        </div>
                        <button type="submit" class="btn btn-primary my-2">Submit</button>
                    </div>
                </div>
            </form>
            {% endfor %}
        </div>

    </div>
    <div>
    <h4>Answer : 1</h4>
    </div>
    {%  for  answer in answers %}
    <div class="row">
        <div class="col-md-4">
            <div class="row no-gutters border rounded overflow-hidden
                flex-md-row mb-4
                my-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <div style="margin-right:250px;">
                       <a href=""> <img class="rounded mx-auto d-block p-2 border
                            border-dark"
                            src="/static/images/user.png" alt="user" style="width
                            :40px;margin-top:-10px;"></a>
                    </div>
                    <div style="margin-left:70px;margin-top:-40px;margin-left:50px;">
                        <a href=""> <strong class="d-inline-block mb-2
                                text-primary">{{request.user}}</strong></a>
                    </div>
                    <div class="mb-1 text-muted" style="margin-left:50px;margin-top:-12px;font-size:13px;">Nov
                        12</div>
                    <div>
                        <p class="card-text mb-auto">{{answer.answer | truncatechars:500}}</p>
                    </div>
                </div>
                <div class="col-auto d-none d-lg-block">

                </div>
            </div>
        
        </div>
    </div>
            {% endfor %}

</div>
{% endblock body %}